*{
	padding: 0;
	margin: 0;
	list-style: none;
}
a{
	text-decoration: none;
	color:#000;
}
body{
	font-family: "苹方";
	background: #f6f6f6;
}
body,html{
	width: 100%;
	overflow-x: hidden;
}
.topTab{
	width: 100%;
	height: 1.5rem;
	background: red;
	/* 固定定位 */
	position: fixed;
	top: 0;
	left: 0;
	/* 层级：定位中才会遇到 */
	z-index: 10;
	/* 渐变色 */
	background:-webkit-linear-gradient(left, #ff9d1f, #ffb81f); 
}
.topTab .top{
	width: 1.28rem;
	height: 0.46rem;
	/* background: yellow; */
	margin: 0.23rem 0;
	margin-left: 0.24rem;
	float: left;
	font-size: 0.42rem;
	color: #fff;
	line-height: 0.46rem;
}
.topTab .bottom{
	width: 100%;
	height: 0.42rem;
	/* background: pink; */
	margin-top: 0rem;
	float: left;
	display: inline-block;
}
.topTab .bottom input{
	border: none;
}
.topTab .bottom .left{
	width:0.35rem;
	height: 0.42rem;
	/* background: red; */
	margin-left: 0.24rem;
	background-image: url('../img/home-icon-dingwei-dianji@2x.png ') ;
	background-position: center;
}
.topTab .bottom .content{
	width: 4.42rem;
	height: 0.42rem;
	float: left;
	margin-left: 0.93rem;
	margin-top: -0.42rem;
	border-radius: 0.25rem;
	font-size: 0.24rem;
}
/* 选择页面中input的placeholder */
::-webkit-input-placeholder{
	color: #ffdcbd;
}
.topTab .bottom .content1{
	width:0.35rem;
	height: 0.42rem;
	/* background: red; */
	margin-left: 0.24rem;
	background-image: url('../img/home-icon-qiandao-dianji@2x.png') ;
	background-position: center;
	margin-top: -0.42rem;
	margin-left: 6.03rem;
}
.topTab .bottom .right{
	width:0.35rem;
	height: 0.42rem;
	/* background: red; */
	margin-left: 0.24rem;
	background-image: url('../img/home-icon-xiaoxi-dianji@2x.png') ;
	background-position: center;
	margin-top: -0.42rem;
	margin-left: 6.91rem;
}
/* .banner{
	width: 7.5rem;
	height: 3.78rem;
} */
.banner img{
	width: 100%;
	height: 3.78rem;
	display: block;
	margin-top: 1.54rem;
}

.banner .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 5px;
}
.banner .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 100%;
    background: #000;
    /* opacity: .2; */
}
.banner .swiper-pagination-bullet-active{
	background: #ff8111;
	border: 0.01rem solid #ffa71d;
	margin-bottom: -0.20rem;
}
/* .banner .swiper-pagination-custom, .swiper-pagination-fraction{
    bottom: -20px;
    left: 0;
    width: 100%;
} */
.fenlei{
	width: 7.02rem;
	height: 1.51rem;
	background: #fff;
	border-radius: 0.1rem;
	margin-left: 0.24rem;
	margin-top: 0.24rem;
	box-shadow: 0 0.05rem 0.05rem 0.01rem #eee;
}
.fenlei .list{
	width: 1.75rem;
	height: 1.51rem;
	/* background: red; */
	float: left;
	color: #fff;
	font-size: 0.24rem;
}
.fenlei .list .list2{
	margin-left: 0rem;
}
.fenlei .list img{
	width: 0.8rem;
	height: 0.8rem;
	margin-top: 0.2rem;
	margin-left: 0.57rem;
	/* background: pink; */
}
.fenlei .list .list1{
	width: 0.8rem;
	height: 0.24rem;
	/* background: red; */
	/* float: left; */
	text-align: center;
	line-height: 0.24rem;
	color: #ff9d1f;
	/* margin-top: 0rem; */
	margin-left: 0.57rem;
}
.tuijian img{
	width: 7.02rem;
	height: 2.97rem;
	display: block;
	margin-top: 0.24rem;
	margin-left: 0.24rem;
}
.jingxuan{
	width: 7.02rem;
	height: 6rem;
	/* background: red; */
	margin-left: 0.24rem;
	margin-top: 0.24rem;
	/* position: relative; */
}
.jingxuan .top{
	font-size: 0.3rem;
	font-family: San Francisco Display;
}

.jingxuan .top .list2{
	color: #ffe3bf;
	font-size: 0.36rem;
	font-weight:  900;
	/* font-weight: Black; */
	margin-top: 0.5rem;
	margin-bottom:-0.1rem; 
	/* background: rgba(0, 0, 0, 0.5); */
	/* position: absolute; */
}
.jingxuan .top .list1{
	color: #ff9d1f;
	margin-top: -0.6rem;
}
.jingxuan .bottom{
	width: 100%;
	height: 9.12rem;
	/* background: yellow; */
	margin-top: 0.24rem;
}
.jingxuan .bottom .box{
	width: 7.02rem;
	height: 2.04rem;
	background: #fff;
	margin-bottom: 0.24rem;
	border-radius: 0.1rem;
	box-shadow: 0 0.05rem 0.05rem 0.01rem #e3e3e3;
}
.jingxuan .bottom .box:nth-child(4){
	margin-bottom: 1.22rem;
}
.jingxuan .bottom .box .left1{
	width: 1.80rem;
	height: 1.80rem;
	/* background: red; */
	/* margin-top: 0.12rem; */
	background-image: url('../img/tupian1@2x.png');
	background-position: center;
	background-repeat: no-repeat;
	margin: 0.12rem auto;
	margin-left: 0.4rem;
	float: left;
}
.jingxuan .bottom .box .left11{
	width: 1.80rem;
	height: 1.80rem;
	/* background: red; */
	/* margin-top: 0.12rem; */
	background-image: url('../img/tupian2@2x.png');
	background-position: center;
	background-repeat: no-repeat;
	margin: 0.12rem auto;
	margin-left: 0.4rem;
	float: left;
}
.jingxuan .bottom .box .left111{
	width: 1.80rem;
	height: 1.80rem;
	/* background: red; */
	/* margin-top: 0.12rem; */
	background-image: url('../img/tupian3@2x.png');
	background-position: center;
	background-repeat: no-repeat;
	margin: 0.12rem auto;
	margin-left: 0.4rem;
	float: left;
}
.jingxuan .bottom .box .left1111{
	width: 1.80rem;
	height: 1.80rem;
	/* background: red; */
	/* margin-top: 0.12rem; */
	background-image: url('../img/tupian4@2x.png');
	background-position: center;
	background-repeat: no-repeat;
	margin: 0.12rem auto;
	margin-left: 0.4rem;
	float: left;
}
.jingxuan .bottom .box .right1{
	width: 4rem;
	height: 100%;
	/* background: yellow; */
	float: right;
}
.jingxuan .bottom .box .right1 .xinxi1{
	width: 100%;
	height: 0.30rem;
	/* background: blue; */
	margin-top: 0.24rem;
	color: #26282c;
	font-size: 0.26rem;
}
.jingxuan .bottom .box .right1 .xinxi2{
	width: 100%;
	height: 0.4rem;
	/* background: pink; */
	margin-top: 0.20rem;
	border-bottom: 0.01rem dashed #e4e4e4;
	color: #a3a3a3;
	font-size: 0.22rem;
}
.jingxuan .bottom .box .right1 .xinxi3{
	width: 100%;
	height: 0.45rem;
	/* background: blue; */
	float: left;
	margin-top: 0.30rem;
}
.jingxuan .bottom .box .right1 .xinxi3 .xinxi331{
	width: 1.45rem;
	height: 100%;
	color: #ff9d1f;
	font-size: 0.3rem;
	float: left;
}
.jingxuan .bottom .box .right1 .xinxi3 .xinxi332{
	width: 1rem;
	height: 100%;
	color: #b8b8b8;
	font-size: 0.24rem;
	float: left;
	margin-left: 0.14rem;
	margin-top: 0.05rem;
}
.jingxuan .bottom .box .right1 .xinxi3 .xinxi333{
	width: 0.6rem;
	height: 100%;
	background-image: url('../img/home-icon-jiarugouwuche-dianji@2x.png');
	background-position: center;
	float: left;
	margin-left: 0.4rem;
}
/* 交叉选择器（选中状态） */
/* .bottomTab .box.active{
	color: #fff;
}  */
.TAB{
	width: 100%;
	height: 0.98rem;
	position: fixed;
	left: 0;
	bottom: 0;
	font-size: 0.24rem;
	/* background: rgba(255, 255, 255, 0.9); */
	background: #fff;
}
.TAB .box{
	width: 25%;
	height: 100%;
	text-align: center;
	float: left;
	margin-top: -0.05rem;
	
}
.TAB .box .shouye{
	width: 100%;
	height: 0.68rem;
	overflow: hidden;
	/* margin-top: -0.10rem; */
}
.TAB .box .shouye img{
	height: 0.88rem;
	width: 0.88rem;
}
.TAB .box .faxian{
	width: 100%;
	height: 0.68rem;
	overflow: hidden;
	/* margin-top: -0.10rem; */
}
.TAB .box .faxian img{
	/* transform: translateY(-0.1rem); */
	height: 0.88rem;
	width: 0.88rem;
}
.TAB .box .gouwuche{
	width: 100%;
	height: 0.68rem;
	overflow: hidden;
	/* margin-top: -0.10rem; */
}
.TAB .box .gouwuche img{
	height: 0.88rem;
	width: 0.88rem;
}
.TAB .box .wode{
	width: 100%;
	height: 0.68rem;
	overflow: hidden;
	margin-top: -0.10rem;
}
.TAB .box .wode img{
	/* transform: translateY(-0.1rem); */
	height: 0.88rem;
	width: 0.88rem;
}